# Don't track test scaffolding:
test/libs
test/libs/jlenv
test/libs/bats
test/libs/bats-assert
test/libs/bats-file
test/libs/bats-mock
test/libs/bats-support
test/libexec/bin
test/libexec/libexec
test/libexec/share

# Editor settings
.vscode/

# merge conflict artifacts
*.orig
